@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html,
body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	font-size: 1.2rem;
	height: 100%;
	overflow: hidden;
	width: 100%;
	position: fixed;
}

.container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: stretch;
}

.wrapper {
	padding: 1rem;
	border-bottom: 5px solid black;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 5px;
	grid-row-gap: 0px;
	font-size: 1rem;
}

label {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1em;
	margin: 2px;
	cursor: pointer;
}

input {
	cursor: grab;
}

input:focus {
	cursor: grabbing;
}

.btn__rainbow {
	color: rgb(0, 0, 0);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 2px 2px;
	cursor: pointer;
}

.rainbow--toggled {
	background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
}

#downloadBtn {
	background-color: #008cba;
}

#clearBtn {
	background-color: #f44336;
}
