@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html,
body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	font-size: 1.2rem;
	height: 100%;
	overflow: hidden;
	width: 100%;
	position: fixed;
}

.container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: stretch;
}

.wrapper {
	padding: 1rem;
	border-bottom: 5px solid black;
	/* display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center; */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 5px;
	grid-row-gap: 0px;
	font-size: 1rem;
}

label {
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	cursor: pointer;
	font-size: 1.2rem;
}

input {
	cursor: grab;
}

input:focus {
	cursor: grabbing;
}

.btn__rainbow {
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 1.5rem;
	border-radius: 5px;
	cursor: pointer;
	width: 150px;
}

.rainbow--toggled {
	background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
}
